.AudioPlayerWrp {
	transition: all 1s;
	opacity: 0;
    max-width: 445px;
    position: fixed;
    z-index: 1111;
    top: 100px;
    right: 0;
    box-shadow: 0px 15px 35px -5px rgba(50, 88, 130, 0.32);
}

.AudioPlayerWrp.Showed {
	opacity: 1;
}

.AudioPlayerContainer {
	padding: 5px 25px;
	background-color: #eef3f7;
	border-radius: 10px;
}

.AudioPlayerContainer .AlbumImageCover {
	width: 240px;
    height: 225px;
    margin: 0 auto 0;
    border-radius: 15px;
    z-index: 1;
    transform: translateY(-25px);
    position: relative;
}

.AlbumImageCover .AlbumImage {
	background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    position: absolute;
    left: 0;
    top: 0;
}

.AlbumImageCover .AlbumImage::before {
	content: "";
    background: inherit;
    width: 100%;
    height: 100%;
    box-shadow: 0px 10px 40px 0px rgba(76, 70, 124, 0.5);
    display: block;
    z-index: 1;
    position: absolute;
    top: 30px;
    transform: scale(0.9);
    filter: blur(10px);
    opacity: 0.9;
    border-radius: 15px;
}

.AlbumImageCover .AlbumImage::after {
	content: "";
    background: inherit;
    width: 100%;
    height: 100%;
    box-shadow: 0px 10px 40px 0px rgba(76, 70, 124, 0.5);
    display: block;
    z-index: 2;
    position: absolute;
    border-radius: 15px;
}

.TrackPreviewContainer {
	display: inline-block;
	width: 340px;
}

.ButtonsPanel, .ArtistTitlePanel {
	padding: 10px 0;
	display: inline-block;
	vertical-align: top;
}

.ArtistTitlePanel {
	width: 180px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	text-align: left;
}

.ButtonsPanel {
	max-width: 160px;
}

.NextButton, .PrevButton {
	margin-right: 10px;
	margin-bottom: 0;
}

.PrevButton {
	margin-left: 10px;
}

.PlayButton {
	transform: translateY(-5px) scale(1.6);
}

.ArtistTitlePanel .ArtistName,
.ArtistTitlePanel .TrackTitle {
	color: #71829e;
}

.ArtistTitlePanel .ArtistName {
	font-weight: 900;
}

.ProgressBarWrapper {
	margin: 10px 0;
}
.ProgressBarWrapper .ProgressDuration {
	color: #71829e;
    font-weight: 700;
    font-size: 20px;
	opacity: 0.5;
	float: right;
}
.ProgressBarWrapper .ProgressCurrentTime {
	margin-top: 2px;
    color: #71829e;
    font-weight: 700;
    font-size: 16px;
    opacity: 0.7;
}